ansible==5.10.0
ansible-core==2.12.7
asgiref==3.6.0
bcrypt==3.1.7
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
ci-info==0.3.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.8
configparser==5.3.0
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.5.0
distro-info==1.0
Django==4.1.5
duplicity==0.8.20
etelemetry==0.3.0
fasteners==0.14.1
filelock==3.10.0
fitz==0.0.1.dev2
future==0.18.2
gpg===1.14.0-unknown
gyp==0.1
httplib2==0.18.1
idna==2.10
importlib-metadata==4.0.1
isodate==0.6.1
jeepney==0.7.1
Jinja2==2.11.3
jmespath==0.10.0
keyring==23.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lockfile==0.12.2
looseversion==1.1.2
louis==3.18.0
lxml==4.9.2
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==1.1.1
meld==3.20.4
monotonic==1.5
more-itertools==4.2.0
natsort==7.1.0
netifaces==0.10.9
networkx==3.0
nibabel==5.0.1
nipype==1.8.5
ntlm-auth==1.4.0
numpy==1.24.2
oauthlib==3.1.0
olefile==0.46
packaging==20.9
pandas==1.5.3
paramiko==2.7.2
pathlib==1.0.1
pexpect==4.8.0
Pillow==8.1.2
protobuf==3.12.4
prov==2.0.0
psutil==5.8.0
pycairo==1.16.2
pycups==2.0.1
pydot==1.4.2
PyGObject==3.40.1
PyJWT==1.7.1
pykerberos==1.1.14
pymacaroons==0.13.0
PyNaCl==1.4.0
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.2.1
python-dateutil==2.8.2
python-debian===0.1.39ubuntu1
pytz==2021.1
pywinrm==0.3.0
pyxdg==0.27
pyxnat==1.5
PyYAML==5.3.1
rdflib==6.3.1
reportlab==3.5.66
requests==2.25.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
resolvelib==0.5.4
scipy==1.10.1
SecretStorage==3.3.1
simplejson==3.17.2
six==1.16.0
sqlparse==0.4.3
systemd-python==234
terminator==2.1.0
traits==6.3.2
tzdata==2022.7
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
wadllib==1.3.5
wxPython==4.0.7
xdg==5
xkit==0.0.0
xmltodict==0.12.0
zipp==1.0.0
